/* リセットCSS */
@import url('reset.css');

/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Orbitron:wght@400..900&display=swap');

/* 全体 */
body {
    font-size: 16px;
    font-family: "Noto Sans JP", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* 戻るボタン */
.back_button {
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #6B8F71;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    opacity: 0; /* 非表示 */
    transform: translateY(20px);
    transition: all .5s ease;
}
.back_button a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 25px;
    transition: all .5s ease;
}
.back_button a:hover {
    opacity: .7;
}
.back_button.is-show {
    opacity: 1; /* 表示 */
    transform: translateY(0);
}

/* 画像角丸処理 */
.about_image img, .skill_image img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  300px;       /* ※縦横を同値に */
    height: 300px;       /* ※縦横を同値に */
}

/* リンク */
a {
    color:#000000;
}
a:hover {
    color:#cccccc;
}

/* ヘッダー/ナビ */
header {
    background: #6B8F71;
    color: #000000;
    padding: 10px;
}
.header h1 {
    font-size: 32px;
    font-family: "Noto Serif JP", serif;
}
nav ul {
    display: flex;
    justify-content: flex-end; /* 左寄せ */
    align-items: center;
    list-style: none;
}
nav li {
    display: inline;
}
nav ul li::after {
    content: "|";
    margin: 0 5px;
    color: #000000;
}
nav ul li:last-child::after {
    content: "";
}

/* ヒーローエリア */
.hero {
    width: 100%;
}
.hero_text_box {
    display: flex;
    flex-direction: column; /* 縦方向 */
    justify-content: center; /* 横方向 */
    align-items: center;
    text-align: center;
}
.hero_text h2, .hero_text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero_text {
    background: #cccccc;
    height: 200px;
}
.hero_text h2 {
    font-size: 40px;
    font-family: "Noto Serif JP", serif;
    margin: 0 0 20px 0;
}

/* 共通見出(h3) */
h3 {
    font-size: 36px;
    font-family: "Noto Serif JP", serif;
}

/* About */
.about {
    background: #E6E6E6;
    height: 400px;
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
}
.about_box {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.about_text {
    line-height: 30px;
}
.about_text h3 {
    padding: 0 0 20px 0;
}

/* Skill */
.skill {
    background: #cccccc;
    height: 700px;
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
}
.skill_bigbox {
    display: flex;
    justify-content: space-between; /* ← 横幅いっぱいに均等配置 */
    align-items: stretch;
    width: 80%; /* ← ここ重要！親幅を決める */
    margin: 0 auto; /* 中央寄せ */
}
.skill_box {
    width: 300px;
}
.skill_text {
    line-height: 25px;
    text-align: center;
}
.skill_text h3 {
    margin: 20px 0;
}
.skill_back {
    display:block;
    margin: 0 50px;
}

/* works */
.works {
    background: #E6E6E6;
    height: 700px;
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
}
.works_image img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  400px;       /* ※縦横を同値に */
    height: 400px;       /* ※縦横を同値に */
}
.works_text h3 {
    margin: 20px 0;
}
.works_box {
    display: flex;
    gap: 2rem;
    align-items: center;
}
.works_text {
    line-height: 25px;
}
.works_text p {
    padding-bottom: 20px;
}
.works_text ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: -20px;
    margin-bottom: 20px;
}
.works_text ul li {
    display: inline;
}
.works_text ul li::after {
    content: "/";
    margin: 0 5px;
    color: #000000;
}
.works_text ul li:last-child::after {
    content: "";
}

/* フッター */
footer {
    background: #6B8F71;
    color: #000000;
    height: 100px;
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
    line-height: auto;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {

    /* 固定高さ解除 */
    .hero, .hero_text, .about, .skill, .works, footer {
        height: auto;
    }

    /* ヒーローエリア */
    .hero_text h2 {
        font-size: 25px;
        padding: 20px 0;
    }
    .hero_text p{
        padding: 0 0 20px 0;
    }

    /* About */
    .about_box {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }
    .about_image img {
        width: 200px;
        height: 200px;
        padding-top: 20px;
    }
    .about_text{
        margin-bottom: 20px;
    }

    /* Skill */
    .skill_bigbox {
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        text-align: center;
        margin: 20px 0;
    }
    .skill_box {
        width: 90%;
        margin: 0 auto;
    }
    .skill_image img {
        width: 200px;
        height: 200px;
    }
    .skill_text h3 {
        font-size: 28px;
    }

    /* Works */
    .works {
        height: auto;
        padding: 20px 5%;
    }
    .works ul {
        flex-direction: column;
    }
    .works ul li::after {
        content: "";
    }
    nav ul li:last-child::after {
        content: "";
    }
    .works_box {
        flex-direction: column;
        align-items: center;
    }
    .works_image img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
    .works_text {
        text-align: center;
    }
    .works_text h3 {
        font-size: 25px;
        margin: 10px 0;
    }

        /* footer */
    footer{
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 13px;
    }

    /* 戻るボタン */
    .back_button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

    /* ヒーローエリア */
    .hero_text h2 {
        font-size: 18px;
        padding: 20px 0 0 0;
    }

    /* About */
    .about_text {
        margin: 0 5%;
    }

    /* Works */
    .works_text h3 {
        font-size: 18px;
    }

    /* footer */
    footer{
        font-size: 10px;
    }
}
