/* リセットCSS */
@import url('reset.css');

/* GoogleFonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Orbitron:wght@400..900&display=swap');

/* 全体 */
body {
    font-size: 14px;
    font-family: "Noto Sans JP", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* 戻るボタン */
.back_button {
    font-size: 14px;
    font-family: "Orbitron", sans-serif;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #6B8F71;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    opacity: 0; /* 非表示 */
    transform: translateY(20px);
    transition: all .5s ease;
}
.back_button a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 25px;
    transition: all .5s ease;
}
.back_button a:hover {
    opacity: .7;
}
.back_button.is-show {
    opacity: 1; /* 表示 */
    transform: translateY(0);
}

/* 画像角丸処理 */
.about_image img, .skill_image img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  300px;       /* ※縦横を同値に */
    height: 300px;       /* ※縦横を同値に */
}

/* ヘッダー/ナビ */
header {
    background: #6B8F71;
    color: #000000;
    padding: 10px;
}
.header h1 {
    font-size: 32px;
    font-family: "Noto Serif JP", serif;
}
.pc_nav ul {
    display: flex;
    justify-content: flex-end; /* 左寄せ */
    align-items: center;
    list-style: none;
}
.pc_nav li {
    display: inline;
}
.pc_nav ul li::after {
    content: "|";
    margin: 0 5px;
    color: #000000;
}
.pc_nav ul li:last-child::after {
    content: "";
}
.pc_nav a {
    color:#000000;
}
.pc_nav a:hover {
    color:#cccccc;
}
.sm_nav {
    display: none;
}

/* ヒーローエリア */
.hero {
    width: 100%;
}
.hero_text {
    background: #cccccc;
    padding: 0 15%;
}
.hero_text_box {
    text-align: center;
    padding: 50px 0;
}
.hero_text h2 {
    font-size: 40px;
    font-family: "Noto Serif JP", serif;
    margin: 0 0 20px 0;
}

/* 共通見出(h3) */
h3 {
    font-size: 32px;
    font-family: "Noto Serif JP", serif;
}

/* About */
.about {
    background: #E6E6E6;
    display: flex;
    padding: 0 15%;
}
.about_box {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 50px 0;
}
.about_text {
    line-height: 30px;
}
.about_text h3 {
    padding: 0 0 20px 0;
}

/* Skill */
.skill {
    background: #cccccc;
    display: flex;
}
.skill_bigbox {
    display: flex;
    justify-content: space-between; /* 均等配置 */
    align-items: stretch;
    width: 80%;
    margin: 0 auto; /* 中央寄せ */
    padding: 50px 0;
}
.skill_box {
    width: 300px;
}
.skill_text {
    line-height: 25px;
    text-align: center;
}
.skill_text h3 {
    margin: 20px 0;
}
.skill_back {
    display:block;
    margin: 0 50px;
}

/* works */
.works {
    background: #E6E6E6;
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
    padding: 0 15%;
}
.works_image img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  350px;       /* ※縦横を同値に */
    height: 350px;       /* ※縦横を同値に */
}
.works_text h3 {
    margin: 20px 0;
}
.works_box {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 50px 0;
}
.works_text {
    line-height: 25px;
}
.works_text p {
    padding-bottom: 20px;
}
.works_text ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin-top: -20px;
    margin-bottom: 20px;
}
.works_text ul li {
    display: inline;
}
.works_text ul li::after {
    content: "/";
    margin: 0 5px;
    color: #000000;
}
.works_text ul li:last-child::after {
    content: "";
}
.works a {
    color:#000000;
}
.works a:hover {
    color:#cccccc;
}

/* フッター */
footer {
    background: #6B8F71;
    color: #000000;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center; /* 左右中央 */
    align-items: center;     /* 上下中央 */
    line-height: auto;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {

    /* ヘッダー */
    .header h1 {
        padding-bottom: 10px;
    }

    /* ハンバーガーメニュー */
    .pc_nav {
        display: none;
    }
    .sm_nav {
        display: block;
    }
    .sm_nav_check {
        display: none;
    }
    .sm_nav_open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 100;/* 重なり順を一番上にする */
        cursor: pointer;
    }
    .sm_nav_open span, .sm_nav_open span:before, .sm_nav_open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #FFFFFF;
        transition: 0.5s;
        position: absolute;
    }
    .sm_nav_open span:before {
        bottom: 8px; /* 三本線の一番上の棒の位置調整 */
    }
    .sm_nav_open span:after {
        top: 8px; /* 三本線の一番下の棒の位置調整 */
    }
    #sm_nav_input:checked ~ .sm_nav_open span {
        background: rgb(255, 255, 255, 0); /* アイコンがクリックされたら真ん中の線を透明にする */
    }
    #sm_nav_input:checked ~ .sm_nav_open span::before {
        bottom: 0;
        transform: rotate(45deg); /* アイコンがクリック後上下の線を回転 */
    }
    #sm_nav_input:checked ~ .sm_nav_open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    /* メニューのデザイン*/
    .sm_nav_box {
        width: 100%;
        height: 100%;
        position: fixed;
        bottom: 100%;
        left: 0%; /* メニューを画面の外に飛ばす */
        z-index: 99;
        background: #E6E6E6;
        transition: .5s;
        list-style: none;
    }
    .sm_nav_menu {
        display: block;
        flex-direction: column;
    }
    .sm_nav_menu {
        padding: 0 5%;
        margin-top: 100px;
    }
    .sm_nav_menu li {
        text-align: center;
        border-top: 1px solid #000000;
        padding: 30px;
    }
    .sm_nav_menu li:last-child {
        border-bottom: 1px solid #000000;
    }
    .sm_nav_menu a {
    color: #000000;
    text-decoration: none;
    }

    /* アイコンがクリックされたらメニューを表示 */
    #sm_nav_input:checked ~ .sm_nav_box {
    bottom: 0;/* メニューを画面に入れる */
    }

    /* ヒーローエリア */
    .hero_text {
        padding: 0 5%;
    }
    .hero_text_box {
        padding: 30px 0;
    }
    .hero_text h2 {
        font-size: 25px;
        font-family: "Noto Serif JP", serif;
    }

    /* About */
    .about {
        padding: 0 5%;
    }
    .about_box {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
        padding: 30px 0;
    }
    .about_image img {
        width: 200px;
        height: 200px;
        padding-top: 20px;
    }
    .about_text{
        margin-bottom: 0px;
    }

    /* Skill */
    .skill_bigbox {
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        text-align: center;
        margin: 0;
        padding: 30px 0;
    }
    .skill_box {
        width: 90%;
        margin: 0 auto;
    }
    .skill_image img {
        width: 200px;
        height: 200px;
    }
    .skill_text h3 {
        font-size: 28px;
    }

    /* Works */
    .works {
        padding: 0 5%;
    }
    .works ul {
        flex-direction: column;
    }
    .works ul li::after {
        content: "";
    }
    nav ul li:last-child::after {
        content: "";
    }
    .works_box {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }
    .works_image img {
        width: 250px;
        height: 250px;
        margin-bottom: 20px;
    }
    .works_text {
        text-align: center;
    }
    .works_text h3 {
        font-size: 25px;
        margin: 10px 0;
    }

    /* footer */
    footer {
        height: 50px;
    }
}

/* レスポンシブ */
@media screen and (max-width: 768px) {

    /* ヒーローエリア */
    .hero_text h2 {
        font-size: 18px;
        font-family: "Noto Serif JP", serif;
    }

    /* Works */
    .works_text h3 {
        font-size: 22px;
        margin: 10px 0;
    }
}
